@media screen and (max-width: 600px){

    img.catWeOfffer{
        bottom: 10px;
        left: 4%;
        width: 35%;
    }


    img.grass {
        width : 80%;
    }


    img.moon,
    img.sun {
        width : 25%;
    }


    img.sun{
        right : 100%;
    }
    

    text {
        font-size : 22px;
    }


    .star,
    .starYellow,
    .starBlue,
    .starRed {
        width : 2px;
        height : 2px;
    }
    
    
    /* ====================== modal windows ============================== */
    

    .modal>.container {
        width : 100%;
    }


    button {
        width : 45px;
        height : 45px;
        font-size : 30px;
    }


    .modal p {
        width : 80%;
        font-size : 22px;
        text-align : left;
        padding : 0px 20px 0px 40px;
        line-height : 1.3;
    }    
}
