@media screen and (max-width: 1100px){

    img.catWeOfffer {
        display : block;
        position : absolute;
        bottom : 12px;
        left : 5%;
        width : 25%;
        z-index : 100;
    }


    img.moon,
    img.sun {
        display : block;
        position : fixed;
        top : 0px;
        right : 0%;
        width : 18%;
        z-index : 50;
    }


    img.sun {
        right: 100%;
    }


    text {
        font-family : 'Segoe Print';
        cursor : pointer;
        transition : .15s linear;
        stroke: var(--colorText-stroke);
        fill: var(--colorText-fill);
        font-size: 28px;
        transition: .15s linear;
    }


    .star,
    .starYellow,
    .starBlue,
    .starRed {
        z-index : 0;
        width : 3px;
        height : 3px;
        position : absolute;
        border-radius : 50%;
        opacity : 0;
    }

    
    /* ====================== modal windows ============================== */
    
    
    .modal {
        display : flex;
        justify-content : flex-end;
        align-items : center;
        position : fixed;
    }
    

    .modal>.container {
        width : 50%;
        display : flex;
        flex-wrap : nowrap;
    }


    .modal p{
        color : black;
        width : 60%;
        font-size : 28px;
        font-family : 'Segoe Print';
        text-align : left;
        padding : 0px 70px 0px 40px;
        line-height : 1.3;
    }    
}
