@media screen and (max-width: 2000px){
    :root {
        --color-stroke: red;
    }
    @font-face{
        font-family: 'Segoe Print';
        src: url('Segoe Print Bold.ttf')
    }
    
    html{
        height: 100%;
        user-select: none;
    }
    body{
        background: linear-gradient(rgba(3,12,113, 1) 30%, rgba(65,105,225, 1) 100%) fixed;
        height: 100%;
    }
    main{
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    img.grass{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 35%;
        z-index: 99;
    }
    img.cat{
        position: absolute;
        bottom: 100px;
        left: 30px;
        width: 12%;
        z-index: 50;
    }
    img.moon{
        position: fixed;
        top: 0px;
        right: 0%;
        width: 12%;
        z-index: 50;
    }
    img.weOffer{
        z-index: 50;
        position: absolute;
        bottom: 300px;
        left: 100px;
        width: 12%;
    }
    svg{
        position: fixed;
        left: 0%;
        box-sizing: border-box;
    }    
    text{
        font-family: 'Segoe Print';
        stroke: transparent;
        fill: white;
        font-size: 30px;
        cursor: pointer;
        transition: .15s linear;
    }
    text:hover{
        fill: orange;
    }
    text:nth-child(20){
        animation: changeSiteCompany 90s linear infinite; 
    }
    @keyframes changeSiteCompany {
        0%, 3%{
            font-size: 40px;
            stroke: var(--color-stroke);
            stroke-width: 3px;
        }
        3.5%{
            font-size: 30px;
            stroke: transparent;
        }
        96.5%{
            font-size: 30px;
            stroke: transparent;
        }
        97%, 100%{
            font-size: 40px;
            stroke: var(--color-stroke);
            stroke-width: 3px;
        }
    }
    text:nth-child(24){
        animation: changeBlog 90s linear infinite; 
    }
    @keyframes changeBlog {
        0%, 8.5%{
            font-size: 30px;
            stroke: transparent;
        }
        9%, 11%{
            font-size: 40px;
            stroke: var(--color-stroke);
            stroke-width: 3px;
        }
        11.5%, 88.5%{
            font-size: 30px;
            stroke: transparent;
        }
        89%, 91%{
            font-size: 40px;
            stroke: var(--color-stroke);
            stroke-width: 3px;
        }
        91.5%, 100%{
            font-size: 30px;
            stroke: transparent;
        }
    }
    text:nth-child(21){
        animation: changeSocialNetwork 90s linear infinite; 
    }
    @keyframes changeSocialNetwork {
        0%, 15.5%{
            font-size: 30px;
            stroke: transparent;
        }
        16%, 19%{
            font-size: 40px;
            stroke: var(--color-stroke);
            stroke-width: 3px;
        }
        19.5%, 81%{
            font-size: 30px;
            stroke: transparent;
        }
        81.5%, 84.5%{
            font-size: 40px;
            stroke: var(--color-stroke);
            stroke-width: 3px;
        }
        85%, 100%{
            font-size: 30px;
            stroke: transparent;
        }
    }
    text:nth-child(23){
        animation: changeGameSours 90s linear infinite; 
    }
    @keyframes changeGameSours {
        0%, 24%{
            font-size: 30px;
            stroke: transparent;
        }
        24.5%, 28.5%{
            font-size: 40px;
            stroke: var(--color-stroke);
            stroke-width: 3px;
        }
        29%, 71.5%{
            font-size: 30px;
            stroke: transparent;
        }
        72%, 76%{
            font-size: 40px;
            stroke: var(--color-stroke);
            stroke-width: 3px;
        }
        76.5%, 100%{
            font-size: 30px;
            stroke: transparent;
        }
    }
    text:nth-child(27){
        animation: changeInternetShop 90s linear infinite; 
    }
    @keyframes changeInternetShop {
        0%, 31%{
            font-size: 30px;
            stroke: transparent;
        }
        31.5%, 35%{
            font-size: 40px;
            stroke: var(--color-stroke);
            stroke-width: 3px;
        }
        35.5%, 64%{
            font-size: 30px;
            stroke: transparent;
        }
        64.5%, 68.5%{
            font-size: 40px;
            stroke: var(--color-stroke);
            stroke-width: 3px;
        }
        69%, 100%{
            font-size: 30px;
            stroke: transparent;
        }
    }
    text:nth-child(26){
        animation: changePortfolio 90s linear infinite; 
    }
    @keyframes changePortfolio {
        0%, 41.5%{
            font-size: 30px;
            stroke: transparent;
        }
        42%, 44%{
            font-size: 40px;
            stroke: var(--color-stroke);
            stroke-width: 3px;
        }
        44.5%, 56%{
            font-size: 30px;
            stroke: transparent;
        }
        56.5%, 59%{
            font-size: 40px;
            stroke: var(--color-stroke);
            stroke-width: 3px;
        }
        59.5%, 100%{
            font-size: 30px;
            stroke: transparent;
        }
    }
    text:nth-child(22){
        animation: changeForum 90s linear infinite; 
    }
    @keyframes changeForum {
        0%, 45.5%{
            font-size: 30px;
            stroke: transparent;
        }
        46%, 47.5%{
            font-size: 40px;
            stroke: var(--color-stroke);
            stroke-width: 3px;
        }
        48%, 53%{
            font-size: 30px;
            stroke: transparent;
        }
        53.5%, 55%{
            font-size: 40px;
            stroke: var(--color-stroke);
            stroke-width: 3px;
        }
        55.5%, 100%{
            font-size: 30px;
            stroke: transparent;
        }
    }
    text:nth-child(25){
        animation: changeLanding 90s linear infinite; 
    }
    @keyframes changeLanding {
        0%, 48.2%{
            font-size: 30px;
            stroke: transparent;
        }
        48.7%{
            font-size: 40px;
            stroke: var(--color-stroke);
            stroke-width: 3px;
        }
        51.2%{
            font-size: 40px;
            stroke: var(--color-stroke);
            stroke-width: 3px;
        }
        51.7%, 100%{
            font-size: 30px;
            stroke: transparent;
        }
    }
    image{
        transform-box: fill-box;
        transform-origin: center;
        animation: rotateCircle 90s linear infinite;
    }
    @keyframes rotateCircle {
        0%{
            transform: rotate(0deg);
        }
        50%{
            transform: rotate(10500deg);
        }
        100%{
            transform: rotate(0deg);
        }
    }
    
    path{
        stroke: white;
        fill: transparent;
    }
    .star,
    .starYellow,
    .starBlue,
    .starRed{
        z-index: 0;
        width: 4px;
        height: 4px;
        position: absolute;
        border-radius: 50%;
        opacity: 0;
    }
    .starYellow{
        animation: movie 9s linear 6s infinite;
    }
    .starRed{
        animation: movie 9s linear infinite;
    }
    .starBlue{
        animation: movie 9s linear 3s infinite;
    }
    @keyframes movie{
        0%, 30%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        80%, 100%{
            opacity: 0;
        }
    }
    
    
    /* ---------------------------modal windows------------------------ */
    
    
    .modal{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        box-sizing: border-box;
        /* background-color: rgba(40, 47, 57, .9); */
    }
    
    .internetShop,
    .siteCompany,
    .blog,
    .portfolio,
    .socialNetwork,
    .forum,
    .landing,
    .gameSours{
        left: -100%;
        z-index: 150;
        width: 100%;
        height: 100%;
    }
    .modal>.container{
        width: 60%;
        display: flex;
    }
    button{
        background-color: rgb(244, 107, 28);
        margin: 0 0 0 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 30px;
        border: solid 1px black;
        outline: none;
    }
    .modal p{
        color: black;
        width: 90%;
        font-size: 30px;
        font-family: 'Segoe Print';
        text-align: justify;
        padding: 0px 70px 0px 40px;
        line-height: 1.4;
    }    
}
