@media screen and (max-height: 450px){

    img.home {
        height : 120px;
    }

    img.catWeOfffer {
        width : 15%;
    }


    img.moon,
    img.sun {
        width : 10%;
    }


    img.sun {
        right : 100%;
    }
    

    text {
        font-size : 18px;
    }


    .star,
    .starYellow,
    .starBlue,
    .starRed{
        width : 1.5px;
        height : 1.5px;
    }
    
    
    /* ====================== modal windows ============================== */
    

    .modal>.container {
        width : 100%;
    }


    button {
        margin: 10px 0 0 10px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 20px;
    }

    
    .modal p{
        width: 80%;
        font-size: 18px;
        text-align: right;
        padding: 10px 10px 0px 10px;
        line-height: 1.3;
    }    
}
