@media screen and (max-width: 2600px){

    image{
        transform-box : fill-box;
        transform-origin : center;
        animation : rotateCircle 2s linear infinite;
    }

    @keyframes rotateCircle {
        0% {
            transform : rotate(0deg);
        }

        100% {
            transform : rotate(360deg);
        }
    }
        
}
